[Desktop Entry]
Type=Application
Name=Shelloma
Exec=shelloma
Icon=org.shelloma.Shelloma
Comment=Native natural language to Shell command translator powered by Ollama
Categories=Utility;System;
Terminal=true
